body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.to-do {
  text-align: center;
  margin: auto;
  width: 20%;
}

.input-task {
  width: 100%;
}

.finished {
  text-align: left;
  border-left: 1vh solid mediumseagreen;
  text-decoration: line-through;
}

.doing-todo {
  text-align: left;
  border-left: 1vh solid orange;
}

.default-todo {
  text-align: left;
  border-left: 1vh solid lightblue;
}
